<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vacation Request {{startDate}}</title>
</head>
<body>
    <p>
        I am writing to inform you that I will be taking {{totalDays}} day(s) off 
        {{#if endDate}}
        from {{startDate}} to {{endDate}}
        {{else}}
        on {{startDate}}
        {{/if}}
        due to {{reason}}.</p>

    <p>
        Thank you for your understanding.
    </p>
    <p>
        Best regards,
    </p>
    <p>
    {{name}}
    </p>
    
</body>
</html>